matplotlib~=3.7.4
numpy~=1.24.4
pandas~=2.0.3
Pillow~=9.3.0
psutil~=5.9.0
PyQt5~=5.15.9
PyYAML~=6.0.1
QDarkStyle~=3.1
Requests~=2.31.0
scipy~=1.10.1
seaborn~=0.12.2
tqdm~=4.66.1
opencv-python~=4.8.1.78
pygame~=2.5.2
pytorchvideo~=0.1.5
moviepy~=1.0.3
yaml~=0.2.5